@tailwind base;
@tailwind components;
@tailwind utilities;

input:focus {
    outline: 2px solid #2BBDAE;
    border-bottom: 2px solid #f0f0f0;
    border-radius: 4px;
}

input {
    padding-left: 8px;
    border-bottom: solid 2px #2BBDAE;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
