<div>
    <h2 class="mb-4 text-4xl font-semibold">Añadir un paciente</h2>
    <div>
        <div class="mb-4">
            <input type="text" placeholder="Nombre"
                class="h-10 w-64 mr-6 text-lg border-b-2 border-mainColor bg-anti-flash_white">
            <input type="text" placeholder="Apellido"
                class="h-10 w-64 mr-6 text-lg border-b-2 border-mainColor bg-anti-flash_white">
            <input type="text" placeholder="Telefono"
                class="h-10 w-64 mr-6 text-lg border-b-2 border-mainColor bg-anti-flash_white">
        </div>
        <div>
            <input type="text" placeholder="DNI"
                class="h-10 w-64 mr-6 text-lg border-b-2 border-mainColor bg-anti-flash_white">
            <input type="text" placeholder="Nombre"
                class="h-10 w-64 mr-6 text-lg border-b-2 border-mainColor bg-anti-flash_white">
            <input type="text" placeholder="Nombre"
                class="h-10 w-64 mr-6 text-lg border-b-2 border-mainColor bg-anti-flash_white">
        </div>
    </div>
</div>