<div class="bg-anti-flash_white rounded-xl p-4 overflow-y-scroll" style="max-height: 660px;">
    <h2 class="text-lg font-bold">{{data.patient.name + ' ' + data.patient.lastName}}</h2>
    <p class="text-lg font-medium">Informacion general:</p>
    <div class="mb-4 flex flex-col border-b border-outer_space">
        <span class="p-2 border-t border-outer_space">Nombre: {{data.patient.name}}</span>
        <span class="p-2 border-t border-outer_space">Apellido: {{data.patient.lastName}}</span>
        <span class="p-2 border-t border-outer_space">Fecha de nacimiento: {{data.patient.birthDate}}</span>
        <span class="p-2 border-t border-outer_space">DNI: {{data.patient.dni}}</span>
        <span class="p-2 border-t border-outer_space">Sexo: {{data.patient.gender}}</span>
        <span class="p-2 border-t border-outer_space">Obra social: {{data.patient.socialSecurity}}</span>
        <span class="p-2 border-t border-outer_space">Telefono: {{data.patient.tel}}</span>
        <span class="p-2 border-t border-outer_space">Email: {{data.patient.email}}</span>
    </div>
    @if (data.patient.odontogram) {
    <div class="mb-4">
        <app-odontogram></app-odontogram>
    </div>
    }
    <div class="flex gap-2 mt-10">
        @if (!data.patient.odontogram) {
        <app-action-button>
            + Añadir odontograma
        </app-action-button>
        }
        <app-action-button>
            + Añadir cita
        </app-action-button>
    </div>
</div>